MYSQL_ROOT_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
MYSQL_DATABASE=weather_station
MYSQL_USER=user
MYSQL_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
PYTHONUNBUFFERED=0
REDASH_LOG_LEVEL=INFO
REDASH_REDIS_URL=redis://redis:6379/0
REDASH_COOKIE_SECRET=REPLACE_WITH_RANDOM_32_CHAR_STRING
REDASH_SECRET_KEY=REPLACE_WITH_RANDOM_32_CHAR_STRING
REDASH_ENFORCE_CSRF=true
REDASH_GUNICORN_TIMEOUT=60
POSTGRES_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
REDASH_DATABASE_URL=postgresql://postgres:REPLACE_WITH_STRONG_PASSWORD@postgres/postgres